* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #3498db, #e74c3c);
    margin: 0;
}

a,
ul {
    text-decoration: none;
    color: #fff;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}

.landing-page header .logo {
    color: #fff;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

@media (max-width: 767px) {
    .landing-page header .logo {
        margin: 20px 0;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}

.landing-page header .links li {
    margin-left: 30px;
    cursor: pointer;
    transition: .3s;
}

@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #e74c3c;
}

.landing-page header .links li:not(:last-child):hover {
    color: #e74c3c;
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101px);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.landing-page .content .info {
    text-align: center;
    margin-bottom: 15px;
}

.landing-page .content .info h1,
.landing-page .content .info p {
    color: #fff;
}

.landing-page .content .info h1 {
    font-size: 44px;
}

.landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    background-color: #e74c3c;
}

.landing-page .content .image img {
    max-width: 100%;
}

.landing-page .content .internship-offers {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.landing-page .content .internship-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.landing-page .content .internship-box img {
    max-width: 80px;
    margin-bottom: 10px;
}

.landing-page .content .internship-box h2,
.landing-page .content .internship-box p {
    color: #fff;
}

.landing-page .content .internship-box h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.landing-page .content .internship-box p {
    color: black;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 20px;
}

.landing-page .content .internship-box button {
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #e74c3c;
}
